html{min-height: 100%; -moz-text-size-adjust: 100%; -ms-text-size-adjust: 100%; -o-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; text-size-adjust: 100%;}
body{font-family: 'Montserrat', sans-serif; margin: 0; padding: 0; min-height: 100vh; -webkit-font-smoothing: antialiased; -moz-font-smoothing: antialiased; -o-font-smoothing: antialiased; background-color: #fff; font-size: 14px; line-height: 17px; color: #4d4d4d;}
a{cursor: pointer; text-decoration: none; color: #0070b8; transition: 0.2s ease;}
a:hover{color: #f2712d;}
img, input, textarea, button, a{outline: none; border: none; font-family: 'Montserrat', sans-serif;}
button{cursor: pointer; box-sizing: border-box; padding: 0; background: none; font-family: 'Montserrat', sans-serif; }
button[disabled], input[disabled], a[disabled], select[disabled]{}
h1, h2, h3, h4, h5, h6, p{font-weight: normal; margin: 0; padding: 0;}
ul{list-style: none; margin: 0; padding: 0;}
input[type='checkbox']{cursor: pointer;}
.overlay{background-color: rgba(0,0,0,0.7); position: fixed; z-index: 5; left: 0; top: 0; width: 100%; height: 100%; cursor: pointer; display: none; align-items: center; justify-content: center;}
.overlay.is-active{display: flex;}
.title{text-align: center; font-weight: bold;}
table{border-spacing: 0; border-collapse: collapse;}
.fas.fa-times{color: #d8d8d8; cursor: pointer;}
.fas.fa-times:hover{color: #c1bfbf;}

.inner{max-width: 1170px; width: 94%; margin: 0 auto; position: relative;}
#header{position: relative;}
.header__info{display: flex; justify-content: space-between; padding: 10px 0;}
.header__info-item{display: flex; flex-direction: column; justify-content: center; }
.header__info-item_contacts{text-align: right;}
.header__info-item .mob-link + .mob-link{margin-top: 5px;}
.header__info-item .header__shedule{margin-top: 5px; font-size: 12px; line-height: 15px;}
.header__info-item_center{font-size: 21px; line-height: 24px; font-weight: 500;}
.header__adress{margin-left: 30px;}
.header__logo{display: flex; align-items: center; justify-content: center; position: relative; overflow: hidden; max-width: 300px; max-height: 200px;}
.header__logo img{width: 100%; height: 100%; object-fit: contain;}
.content{display: flex; flex-direction: column; justify-content: space-between; position: relative; min-height: calc(100vh - 128px);}
#header .mob-link{font-size: 21px; line-height: 24px; font-weight: 500;}
#header .mob-link + .mob-link{letter-spacing: 0.7px;}
.header__shedule-mob{display: flex; align-items: center;}
.header__shedule-mob .header__shedule{margin-right: 10px; margin-top: 0;}
/*.mob-link:before{content: '\f879'; display: inline-block; margin-right: 5px; font-weight: bold; font-family: "Font Awesome 5 Free";}*/

.nav-menu{background-color: #f4f4f4; border-bottom: 1px solid #d8d8d8; border-top: 1px solid #d8d8d8;}
.menu{display: flex; justify-content: space-between; align-items: center; }
.menu-item{position: relative; padding: 10px 0; width: 14%; box-sizing: border-box; text-align: center; cursor: pointer; color: #0070b8; font-weight: bold;}
.menu-item:hover{color: #0d5380;}
.menu-item:hover .menu-hidden-list{display: block;}
.menu-item.is-active{color: #0d5380;}
.menu-item + .menu-item{padding-left: 3px;}
.menu-title{cursor: pointer;}
.menu-hidden-list{position: absolute; width: 100%; background-color: #fff; left: 0; top: 100%; z-index: 2; display: none; text-align: left;}
.menu-hidden-list.is-active{display: block;}
.menu-hidden-list-item{display: block; box-sizing: border-box; padding: 10px; font-weight: normal;  background-color: #f4f4f4; border: 1px solid #d8d8d8;}
.menu-hidden-list-item + .menu-hidden-list-item{border-top: none;}
.menu-hidden-list-item:hover{background-color: #fff;}

.main-banner{position: relative;}
.banner{position: relative;}
.banner .inner{height: 100%;}
.banner__slide{position: relative; height: 450px; width: 100%; background: linear-gradient(to right, transparent 0, #fff 100%);}
.banner__slide img{width: 100%; height: 100%; object-fit: cover; position: absolute; left: 0; top: 0; z-index: -1;}
.banner__content{display: flex; align-items: center; justify-content: flex-end; color: #0d5380; height: 100%; position: relative; z-index: 1;}
.banner-image{width: 110px; height: 110px; margin-right: 10px; position: relative; margin-left: 20px;}
.banner-image img{width: 100%; height: 100%; object-fit: contain;}
.banner-text{font-size: 30px; line-height: 33px; width: 40%; text-align: right; font-weight: 500;}

.detail{display: block; cursor: pointer; text-align: center; width: 100%; border-radius: 3px; background-color: #0070b8; color: #fff; transition: 0.2s ease; box-sizing: border-box; padding: 8px 5px; margin-top: 10px;}
.detail:hover{background-color: #0d5380;}
.main-catalog{margin: 50px 0; position: relative; }
.catalog{margin-top: 20px; padding: 0 30px;}
.catalog__slide-image{width: 100%; height: 250px; position: relative; overflow: hidden; display: flex; align-items: center; justify-content: center;}
.catalog__slide-image img{width: 100%; height: 100%; object-fit: contain;}
.catalog__slide-text{padding-top: 10px;}
.catalog__slide-describe-hidden{display: none; z-index: 6; left: 50%; margin-left: -300px; background-color: #fff; top: 20%; position: relative; border-radius: 3px; box-shadow: 0 0 10px rgba(0,0,0,0.7); position: fixed; width: 600px; border: 1px solid #d8d8d8; box-sizing: border-box; padding: 25px;}
.catalog__slide-describe-hidden.is-active{display: block;}
.catalog__slide-describe-hidden-border{border: 1px solid #0070b8; box-sizing: border-box; border-radius: 3px; padding: 20px; position: relative;}
.catalog__slide-describe-hidden .title{color: #0070b8;}
.catalog__slide-describe-hidden .fas.fa-times{position: absolute; right: 8px; top: 8px;}
.catalog__table{width: 100%; margin-top: 20px;}
.catalog__td{box-sizing: border-box; padding: 8px; vertical-align: middle; border: 1px solid #d8d8d8;}
.catalog__slide-describe{padding-top: 10px;}
.catalog__slide-describe-item strong{margin-right: 8px;}
.catalog__slide-describe-item + .catalog__slide-describe-item{margin-top: 5px;}
.catalog__slide-price{margin-top: 8px; text-align: right; color: #0070b8; font-size: 16px; line-height: 19px;}
.catalog__slide-price:after{content: '\f158'; font-family: "Font Awesome 5 Free"; font-weight: bold; display: inline-block; margin-left: 5px;}

.main-advatages{position: relative; margin: 80px 0;}
.advatages{display: flex; justify-content: space-between; margin-top: 30px; position: relative;}
.advatages__item{position: relative; width: 20%; display: flex; flex-direction: column; align-items: center; text-align: center;}
.advatages__item .title{margin: 15px 0 10px; font-size: 14px; line-height: 17px;}
.advatages__item i{color: #0070b8; font-size: 70px; line-height: 73px;}

.main__partners{position: relative; margin: 80px 0;}
.partners{display: flex; justify-content: center; margin-top: 20px;}
.partners__item{width: 20%; height: 110px; margin: 0 10px 10px;}
.partners__item a{width: 100%; height: 100%; display: block;}
.partners__item a img{width: 100%; height: 100%; object-fit: contain;}

#footer{position: relative; background-color: #0070b8; padding: 20px 0; color: #fff;}
.footer-list{display: flex; justify-content: space-between;}
.footer-list-item{display: flex; flex-direction: column; text-align: right}
.footer-list-item:first-child{width: 30%; text-align: left;}
.footer-list-item:last-child{width: 30%;}
.footer-list-item .header__shedule + .header__shedule, .mob-link + .mob-link{margin-top: 5px;}
.footer-list-item .mob-link{color: #fff;}
.footer-list-item .mob-link:hover{color: #f2712d;}


.owl-carousel{position:relative;}
.owl-stage-outer{position:relative; overflow:hidden;}
.owl-stage{position:relative; overflow:hidden;}
.owl-item{position:relative; overflow:hidden; float:left;}
.no-js .owl-carousel, .owl-carousel.owl-loaded {display: block;}
.owl-carousel{ display: none; width: 100%; z-index: 1; box-sizing:border-box;}
.owl-prev, .owl-next{ cursor: pointer; transition: 0.2s ease; font-weight: bold; color: #d8d8d8; font-size: 45px; line-height: 48px; position: absolute; top: 35%; left: 0;}
.owl-next{right: 0; left: auto;}
.owl-prev:hover, .owl-next:hover{color: #c1bfbf;}
.owl-prev:before{content: '\f053'; font-family: "Font Awesome 5 Free"; display: inline-block;}
.owl-next:before{content: '\f054'; font-family: "Font Awesome 5 Free"; display: inline-block;}

.banner .owl-next{right: 20px;}
.banner .owl-prev{left: 20px;}
.banner .owl-prev, .owl-next{top: 50%; margin-top: -24px;}

/*Каталог */
.catalog__block{padding: 50px 0; position: relative;}
.catalog__list{margin-top: 30px;}
.catalog__list-item{display: flex; justify-content: space-between; margin-top: 20px;}
.catalog__list-item-image{width: 30%; display: flex; justify-content: center; align-items: center; height: 280px;}
.catalog__list-item-image img{width: 100%; height: 100%; object-fit: cover;}
.catalog__list-item-text{width: 65%;}
.catalog__list-item-text .title{text-align: left;}







