html{min-height: 100%; -moz-text-size-adjust: 100%; -ms-text-size-adjust: 100%; -o-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; text-size-adjust: 100%;}
body{font-family: 'Open Sans', sans-serif; margin: 0; padding: 0; min-height: 100vh; -webkit-font-smoothing: antialiased; -moz-font-smoothing: antialiased; -o-font-smoothing: antialiased; background-color: #fff; font-size: 14px; line-height: 17px; color: #000;}
a{cursor: pointer; text-decoration: none; color: #0070b8; transition: 0.2s ease;}
a:hover{color: #f2712d;}
img, input, textarea, button, a{outline: none; border: none; font-family: 'Open Sans', sans-serif;}
button{cursor: pointer; box-sizing: border-box; padding: 0; background: none; font-family: 'Open Sans', sans-serif; }
button[disabled], input[disabled], a[disabled], select[disabled]{}
h1, h2, h3, h4, h5, h6, p{font-weight: normal; margin: 0; padding: 0;}
ul{list-style: none; margin: 0; padding: 0;}
input[type='checkbox']{cursor: pointer;}
.overlay{background-color: rgba(0,0,0,0.7); position: fixed; z-index: 5; left: 0; top: 0; width: 100%; height: 100%; cursor: pointer; display: none; align-items: center; justify-content: center;}
.overlay.is-active{display: flex;}
.title{text-align: center; font-weight: bold;}
h2.title, h1.title{text-transform: uppercase;}
table{border-spacing: 0; border-collapse: collapse;}
.fas.fa-times{color: #d8d8d8; cursor: pointer;}
.fas.fa-times:hover{color: #c1bfbf;}

.button{width: 100%; color: #fff; transition: 0.2s ease; background-color: #0074b8; border: 2px solid #0074b8; padding: 10px; border-radius: 4px;}
.button:hover{background-color: #fff; color: #0074b8;}
.textarea{resize: none;}
.input, .textarea, .select{width: 100%; transition: 0.2s ease; border: 1px solid #d8d8d8; padding: 10px; border-radius: 4px; box-sizing: border-box;}
.input:focus, .textarea:focus, .select:focus{border-color: #c1bfbf;}


.inner{max-width: 1170px; width: 94%; margin: 0 auto; position: relative;}
#header{position: relative;}
.header__info{display: flex; justify-content: space-between; padding: 30px 0;}
.header__info-item{display: flex; flex-direction: column; justify-content: center; text-align: right; position: relative;}
.header__info-item_shedule{padding-left: 30px;}
.header__info-item_shedule:before{content: '\f017'; font-family: "Font Awesome 5 Free"; font-weight: bold; position: absolute; left: 0; color: #0070b8; font-size: 21px; line-height: 24px; margin-top: 3px;}
.header__info-item_contacts{text-align: right;}
.header__info-item .mob-link{font-size: 18px; line-height: 21px; font-weight: 500; }
.header__info-item .mob-link + .mob-link{margin-top: 5px;}
.header__info-item_logo{flex-direction: row; align-items: center;}
.header__center-text{ font-size: 14px; line-height: 17px; font-weight: 500; margin-left: 40px;}
.header__info-item .header__shedule{font-size: 12px; line-height: 15px;}
.header__info-item .header__shedule + .header__shedule{margin-top: 5px;}
.header__info-item_center{font-size: 21px; line-height: 24px; font-weight: 500;}
.header__adress{margin-left: 30px;}
.header__logo{display: flex; align-items: center; justify-content: center; position: relative; overflow: hidden; max-width: 300px; max-height: 200px;}
.header__logo img{width: 100%; height: 100%; object-fit: contain;}
.content{display: flex; flex-direction: column; justify-content: space-between; position: relative; min-height: calc(100vh - 128px);}
.header__burger{color: #0070b8; transition: 0.2s ease; cursor: pointer; width: 40px; height: 40px; margin-left: auto; margin-right: 0; align-items: center; justify-content: center; display: none;}
.header__burger i{font-size: 30px; line-height: 33px;}
.header__burger:hover{color: #0d5380;}


.nav-menu{background-color: #f4f4f4; border-bottom: 1px solid #d8d8d8; border-top: 1px solid #d8d8d8;}
.menu{display: flex; justify-content: space-between; align-items: center; }
.menu-item{position: relative; padding: 10px 0; width: 14%; box-sizing: border-box; text-align: center; cursor: pointer; color: #0070b8; font-weight: bold;}
.menu-item:hover{color: #0d5380;}
.menu-item.is-active{color: #0d5380;}
.menu-item + .menu-item{padding-left: 3px;}
.menu-title{cursor: pointer;}
.menu-hidden-list{position: absolute; width: 100%; background-color: #fff; left: 0; top: 100%; z-index: 2; display: none; text-align: left;}
.menu-hidden-list.is-active{display: block;}
.menu-hidden-list-item{display: block; box-sizing: border-box; padding: 10px; font-weight: normal;  background-color: #f4f4f4; border: 1px solid #d8d8d8;}
.menu-hidden-list-item + .menu-hidden-list-item{border-top: none;}
.menu-hidden-list-item:hover{background-color: #fff;}

.main-banner{position: relative;}
.banner{position: relative;}
.banner .inner{height: 100%;}
.banner__slide{position: relative; height: 450px; width: 100%; background: linear-gradient(to right, transparent 0, transparent 50%, #fff 100%);}
.banner__slide img{width: 100%; height: 100%; object-fit: cover; position: absolute; left: 0; top: 0; z-index: -1;}
.banner__content{display: flex; align-items: center; justify-content: flex-end; color: #0d5380; height: 100%; position: relative; z-index: 1;}
.banner-image{width: 110px; height: 110px; margin-right: 10px; position: relative; margin-left: 20px;}
.banner-image img{width: 100%; height: 100%; object-fit: contain;}
.banner-text{font-size: 30px; line-height: 33px; width: 40%; text-align: right; font-weight: 500;}

.main__about{padding: 40px 0; position: relative; background-color: #e4ffff;}
.main__about h1{margin-bottom: 20px; font-size: 25px; line-height: 28px; text-transform: uppercase;}
.about__text{margin-top: 20px;}
.about__text + .about__text{margin-top: 20px;}

.detail{display: block; cursor: pointer; text-align: center; width: 100%; border-radius: 3px; background-color: #0070b8; color: #fff; transition: 0.2s ease; box-sizing: border-box; padding: 8px 5px; margin-top: 10px;}
.detail:hover{background-color: #0d5380;}
.main-catalog{margin: 50px 0; position: relative; }
.catalog{margin-top: 20px; display:  flex; flex-wrap: wrap; position: relative;}
.catalog__slide{box-sizing: border-box; position: relative; width: 32%; padding: 10px; margin-right: 1%; border: 1px solid #0074b8; border-radius: 4px; margin-bottom: 20px;}
.catalog__slide-image{width: 100%; height: 340px; position: relative; transition: 0.2s ease; overflow: hidden; display: block;}
.catalog__slide-image:hover{transform: scale(1.05);}
.catalog__slide-image img{width: 100%; height: 100%; object-fit: cover;}
.catalog__slide-text{margin-top: 10px;}
.catalog__btn button{margin-top: 10px;}

.catalog__table{width: 100%; margin-top: 20px;}
.catalog__td{box-sizing: border-box; padding: 8px; vertical-align: middle; border: 1px solid #d8d8d8;}

.main-video{position: relative; margin: 50px 0;}
.video{position: relative; display: flex; justify-content: space-between; margin-top: 25px;}
.video-item{position: relative; overflow: hidden; width: 48%; height: 300px;}

.main-advatages{position: relative; margin: 50px 0;}
.advatages{display: flex; justify-content: space-between; margin-top: 30px; position: relative;}
.advatages__item{position: relative; width: 20%; display: flex; flex-direction: column; align-items: center; text-align: center;}
.advatages__item .title{margin: 15px 0 10px; font-size: 14px; line-height: 17px;}
.advatages__item i{color: #0070b8; font-size: 70px; line-height: 73px;}

.main__partners{position: relative; margin: 50px 0;}
.partners{display: flex; justify-content: center; margin-top: 20px;}
.partners__item{width: 20%; height: 110px; margin: 0 10px 10px;}
.partners__item a{width: 100%; height: 100%; display: block;}
.partners__item a img{width: 100%; height: 100%; object-fit: contain;}

#footer{position: relative; background-color: #0070b8; padding: 40px 0; color: #fff;}
#footer a{color: #fff; display: block;}
#footer a:hover{color: #f2712d;}
.footer-list{display: flex; justify-content: space-between;}
.footer-list-item{display: flex; flex-direction: column; text-align: right; position: relative;}
.footer-list-item .header__shedule + .header__shedule, .mob-link + .mob-link{margin-top: 5px;}
.footer-list-item .mob-link{color: #fff;}
.footer-list-item .mob-link:hover{color: #f2712d;}
.footer-list-item_contacts{padding-left: 20px;}
.footer-list-item_contacts .mob-link:before{content: '\f879'; font-family: "Font Awesome 5 Free"; font-weight: bold; color: #ffffff; position: absolute; margin-left: -20px;}
.footer-list-item_contacts .mob-link.mob-link_mail:before{content: '\f0e0';}
.footer-list-item_links{flex-direction: row; justify-content: space-between; flex-wrap: wrap; width: 50%; text-align: center;}
.footer-list-item-link{width: 47%; display: block; margin-bottom: 8px;}
.footer__logo{display: block; position: relative; max-width: 250px; max-height: 200px;}
.footer__logo img{width: 100%; height: 100%; object-fit: contain;}
.footer__developer{text-align: center; padding-top: 30px; font-size: 16px; line-height: 19px; color: #fff; }
.footer__developer i{font-family: "Font Awesome 5 Free"; font-weight: bold; display: inline-block; margin-right: 5px; color: #fff;}

/*.footer__menu{display: flex; justify-content: space-between; position: relative; margin-bottom: 40px;}*/
/*.footer__menu-title{margin-bottom: 10px; font-size: 16px; line-height: 19px;}*/
/*.footer__submenu{display: flex; flex-direction: column;}*/
/*.footer__submenu-item + .footer__submenu-item{margin-top: 5px;}*/
/*.footer__menu-columns + .footer__menu-columns{margin-left: 15px;}*/
/*#footer a.footer__submenu-item{color: rgba(255,255,255,0.7);}*/
/*#footer a.footer__submenu-item:hover{color: #f2712d;}*/


.owl-carousel{position:relative;}
.owl-stage-outer{position:relative; overflow:hidden;}
.owl-stage{position:relative; overflow:hidden;}
.owl-item{position:relative; overflow:hidden; float:left;}
.no-js .owl-carousel, .owl-carousel.owl-loaded {display: block;}
.owl-carousel{ display: none; width: 100%; z-index: 1; box-sizing:border-box;}
.owl-prev, .owl-next{ cursor: pointer; transition: 0.2s ease; font-weight: bold; color: #d8d8d8; font-size: 45px; line-height: 48px; position: absolute; top: 35%; left: 0;}
.owl-next{right: 0; left: auto;}
.owl-prev:hover, .owl-next:hover{color: #c1bfbf;}
.owl-prev:before{content: '\f053'; font-family: "Font Awesome 5 Free"; display: inline-block;}
.owl-next:before{content: '\f054'; font-family: "Font Awesome 5 Free"; display: inline-block;}

.banner .owl-next{right: 20px;}
.banner .owl-prev{left: 20px;}
.banner .owl-prev, .banner .owl-next{top: 50%; margin-top: -24px;}

/*Каталог */
.catalog__block{margin: 50px 0; position: relative;}
.catalog__list{margin-top: 30px;}
.catalog__list-item{display: flex; justify-content: space-between; margin-top: 20px;}
.catalog__list-item-image{width: 30%; display: flex; justify-content: center; align-items: center; height: 280px;}
.catalog__list-item-image img{width: 100%; height: 100%; object-fit: cover;}
.catalog__list-item-text{width: 65%;}
.catalog__list-item-text .title{text-align: left;}


/*Контакты*/
.contacts{position: relative; margin: 50px 0;}
.contacts__image-map{position: relative; display: flex; justify-content: space-between; margin-top: 30px; height: 300px;}
.contacts__map{width: 47%; height: 100%; position: relative; overflow: hidden;}
.contacts__image{width: 47%; position: relative; overflow: hidden; height: 100%;}
.contacts__image img{width: 100%; height: 100%; object-fit: cover;}
.contacts__text{display: flex; flex-direction: column; width: 49%; position: relative;}
.contacts__text .mob-link:before{content: '\f879'; font-family: "Font Awesome 5 Free"; font-weight: bold; color: #0070b8; display: inline-block; margin-right: 5px;}
.contacts__text .mob-link.mob-link_mail:before{content: '\f0e0';}
.contacts__text-item{display: flex; flex-direction: column;}
.contacts__text-item + .contacts__text-item{margin-top: 15px;}
.contacts__adress{margin-bottom: 13px;}
.contacts__text .header__shedule{margin-top: 8px;}
.contacts__text .mob-link + .mob-link{margin-top: 8px;}

/*Стать нашим дилером*/
.dealer__form{position: relative; margin: 50px 0;}
.dealer-data{display: flex; justify-content: space-between; margin-top: 30px;}
.dealer-data .input{width: 49%;}
.dealer__form .textarea{margin: 10px 0;}



@media (max-width: 1200px){
    .menu{flex-wrap: wrap; justify-content: center;}
    .menu-item{min-width: 160px;}
    .header__info-item_logo{flex-direction: column; align-items: flex-end;}
    .header__center-text{margin-top: 10px; margin-left: 0;}
    .catalog__slide-image{height: 250px;}
}

@media (max-width: 900px){

}

@media (max-width: 830px){
    .header__logo{max-width: 220px;}
    .advatages, .partners{flex-wrap: wrap; justify-content: center;}
    .advatages__item, .partners__item{min-width: 200px; margin-bottom: 10px;}
    .header__info-item_logo{align-items: center;}
    .header__info-item .mob-link{font-size: 14px; line-height: 17px;}
    .footer-list{flex-wrap: wrap;}
    .footer-list-item{width: 100%; margin: 0 0 10px; text-align: center; align-items: center;}
    .footer-list-item_contacts{padding-left: 0;}
}

@media (max-width: 768px){
    .menu{flex-direction: column; display: none;}
    .menu.is-active{display: flex;}
    .menu-item{min-width: unset; width: 100%;}
    .menu-hidden-list{position: relative; height: auto; margin-top: 10px;}
    .menu-hidden-list-item{border: none; text-align: center; padding: 5px;}
    .header__burger{display: flex;}

    .header__info{flex-direction: column; align-items: center;}
    .header__info-item_contacts{text-align: center;}
    .header__info-item_shedule{margin: 15px 0;}

    .catalog__slide{width: 48%;}
}

@media (max-width: 630px){

}

@media (max-width: 600px){
    .banner__content{flex-direction: column; align-items: flex-end; padding-right: 50px; justify-content: center;}
    .banner-text{width: 80%;}
    .video{flex-direction: column;}
    .video-item{width: 100%; height: 300px;}
    .video-item + .video-item{margin-top: 20px;}
    .contacts__image-map{flex-direction: column;}
    .contacts__map{height: 200px; width: 100%;}
    .contacts__text{width: 100%; margin-top: 10px;}
}

@media (max-width: 520px){
    .header__info{flex-direction: column; align-items: center;}
    .header__info-item_contacts{text-align: center;}
    .banner-text{font-size: 25px; line-height: 28px;}
    .banner__slide{height: 350px;}
    .advatages__item i{font-size: 50px; line-height: 53px;}
    .partners__item{min-width: 100px;}
    .catalog__slide-image{height: 170px;}
    .catalog__slide{width: 100%; margin-right: 0;}
    .main-advatages, .main__partners, .main-catalog, .main-video, .main__about{margin: 40px 0;}
    .footer__developer{padding-top: 10px;}
    .main__about{padding: 20px 0;}
}



