html{min-height: 100%; -moz-text-size-adjust: 100%; -ms-text-size-adjust: 100%; -o-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; text-size-adjust: 100%;}
body{font-family: 'Open Sans', sans-serif; margin: 0; padding: 0; min-height: 100vh; -webkit-font-smoothing: antialiased; -moz-font-smoothing: antialiased; -o-font-smoothing: antialiased; background-color: #fff; font-size: 14px; line-height: 20px; color: #000;}
a{cursor: pointer; text-decoration: none; color: #0070b8; transition: 0.2s ease;}
a:hover{color: #f2712d;}
img, input, textarea, button, a{outline: none; border: none; font-family: 'Open Sans', sans-serif;}
button{cursor: pointer; box-sizing: border-box; padding: 0; background: none; font-family: 'Open Sans', sans-serif; }
button[disabled], input[disabled], a[disabled], select[disabled]{}
h1, h2, h3, h4, h5, h6, p{font-weight: normal; margin: 0; padding: 0;}
ul{list-style: none; margin: 0; padding: 0;}
input[type='checkbox']{cursor: pointer;}
.overlay{background-color: rgba(0,0,0,0.7); position: fixed; z-index: 5; left: 0; top: 0; width: 100%; height: 100%; cursor: pointer; display: none; align-items: center; justify-content: center;}
.overlay.is-active{display: flex;}
.title{text-align: center; font-weight: bold; line-height: 1.2em;}
h2.title, h1.title{text-transform: uppercase;}
h1.title{font-size: 25px; line-height: 28px;}
table{border-spacing: 0; border-collapse: collapse;}
.fas.fa-times{color: #d8d8d8; cursor: pointer;}
.fas.fa-times:hover{color: #c1bfbf;}
.mob-link{display: inline-block;}

/*Формы*/
.form{position: relative; box-sizing: border-box; margin: 40px auto 0; padding: 20px; border: 1px solid #d8d8d8; border-radius: 4px; max-width: 850px;}
.form-double{display: flex; justify-content: space-between;}
.agreement{margin: 15px 0; font-weight: 600;}
.button{width: 100%; color: #fff; transition: 0.2s ease; background-color: #0074b8; border: 2px solid #0074b8; padding: 10px; border-radius: 4px;}
.button:hover{background-color: #fff; color: #0074b8;}
.textarea{resize: none;}
.input, .textarea, .select{width: 100%; transition: 0.2s ease; margin-bottom: 10px; border: 1px solid #d8d8d8; padding: 10px; border-radius: 4px; box-sizing: border-box;}
.input:focus, .textarea:focus, .select:focus{border-color: #c1bfbf;}

.inner-item{margin-top: 30px;}

.breadcrumbs{position: relative; display: flex; margin: 20px 0; flex-wrap: wrap;}
.breadcrumbs__item + .breadcrumbs__item{margin-left: 8px;}
.breadcrumbs__item:before{content: '\f054'; font-family: "Font Awesome 5 Free"; font-weight: bold; display: inline-block; color: #c1bfbf; margin-right: 8px;}
.breadcrumbs__item:first-child:before{content: '\f015';}

.inner{max-width: 1170px; width: 94%; margin: 0 auto; position: relative;}
#header{position: relative;}
.header__info{display: flex; justify-content: space-between; padding: 30px 0;}
.header__info-item{display: flex; flex-direction: column; justify-content: center; text-align: right; position: relative;}
.header__info-item_shedule{padding-left: 30px;}
.header__info-item_shedule:before{content: '\f017'; font-family: "Font Awesome 5 Free"; font-weight: bold; position: absolute; left: 0; color: #0070b8; font-size: 21px; line-height: 24px; margin-top: 3px;}
.header__info-item_contacts{text-align: right;}
.header__info-item .mob-link{font-size: 18px; line-height: 21px; font-weight: 500;}
.header__info-item .mob-link + .mob-link{margin-top: 5px;}
.header__info-item_logo{flex-direction: row; align-items: center;}
.header__center-text{ font-size: 14px; line-height: 17px; font-weight: 500; margin-left: 40px;}
.header__info-item .header__shedule{font-size: 12px; line-height: 15px;}
.header__info-item .header__shedule + .header__shedule{margin-top: 5px;}
.header__info-item_center{font-size: 21px; line-height: 24px; font-weight: 500;}
.header__adress{margin-left: 30px;}
.header__logo{display: flex; align-items: center; justify-content: center; position: relative; overflow: hidden; max-width: 300px; max-height: 200px;}
.header__logo img{width: 100%; height: 100%; object-fit: contain;}
.content{display: flex; flex-direction: column; justify-content: space-between; position: relative; min-height: calc(100vh - 128px);}
.header__burger{color: #0070b8; transition: 0.2s ease; cursor: pointer; width: 40px; height: 40px; margin-left: auto; margin-right: 0; align-items: center; justify-content: center; display: none;}
.header__burger i{font-size: 30px; line-height: 33px;}
.header__burger:hover{color: #0d5380;}


.nav-menu{background-color: #f4f4f4; border-bottom: 1px solid #d8d8d8; border-top: 1px solid #d8d8d8;}
.menu{display: flex; justify-content: space-between; align-items: center; }
.menu-item{position: relative; padding: 10px 0; width: 14%; box-sizing: border-box; text-align: center; cursor: pointer; color: #0070b8; font-weight: bold;}
.menu-item:hover, .menu-item .menu-title:hover{color: #0d5380;}
.menu-item.is-active{color: #0d5380;}
.menu-item + .menu-item{padding-left: 3px;}
.menu-title{cursor: pointer;}
.menu-hidden-list{position: absolute; width: 100%; background-color: #fff; left: 0; top: 100%; z-index: 2; display: none; text-align: left;}
.menu-hidden-list.is-active{display: block;}
.menu-hidden-list-item{display: block; box-sizing: border-box; padding: 10px; font-weight: normal;  background-color: #f4f4f4; border: 1px solid #d8d8d8;}
.menu-hidden-list-item + .menu-hidden-list-item{border-top: none;}
.menu-hidden-list-item:hover{background-color: #fff;}

.main-banner{position: relative;}
.banner{position: relative;}
.banner .inner{height: 100%;}
.banner__slide{position: relative; height: 450px; width: 100%; background: linear-gradient(to right, transparent 0, transparent 50%, #fff 100%); }
.banner-img{width: 100%; object-fit: cover; position: absolute; left: 0; margin-top: -80px; z-index: -1;}
.banner__content{display: flex; align-items: center; justify-content: flex-end; color: #0d5380; height: 100%; position: relative; z-index: 1;}
.banner-image{width: 110px; height: 110px; margin-right: 10px; position: relative; margin-left: 20px;}
.banner-image img{width: 100%; height: 100%; object-fit: contain;}
.banner-text{font-size: 30px; line-height: 33px; width: 350px; text-align: right; font-weight: 500;}

.main__about{padding: 40px 0; position: relative; background-color: #e4ffff;}
.main__about h1{margin-bottom: 20px;}
.about__text{margin-top: 20px;}
.about__text + .about__text{margin-top: 20px;}

.detail{display: block; cursor: pointer; text-align: center; width: 100%; border-radius: 3px; background-color: #0070b8; color: #fff; transition: 0.2s ease; box-sizing: border-box; padding: 8px 5px; margin-top: 10px;}
.detail:hover{background-color: #0d5380;}
.main-catalog{margin: 50px 0; position: relative; }
.catalog{margin-top: 20px; display:  flex; flex-wrap: wrap; position: relative;}
.catalog__slide{box-sizing: border-box; position: relative; width: 32%; padding: 10px; margin-right: 1%; border: 1px solid #0074b8; border-radius: 4px; margin-bottom: 20px;}
.catalog__slide-image{width: 100%; height: 340px; position: relative; transition: 0.2s ease; overflow: hidden; display: block;}
.catalog__slide-image:hover{transform: scale(1.05);}
.catalog__slide-image img{width: 100%; height: 100%; object-fit: cover;}
.catalog__slide-text{margin-top: 10px;}
.catalog__btn button{margin-top: 10px;}

.catalog__table{width: 100%; margin-top: 20px;}
.catalog__td{box-sizing: border-box; padding: 8px; vertical-align: middle; border: 1px solid #d8d8d8;}

.main-video{position: relative; margin: 50px 0;}
.video{position: relative; display: flex; justify-content: space-between; margin-top: 25px;}
.video-item{position: relative; overflow: hidden; width: 48%; height: 300px;}

.main-advatages{position: relative; margin: 50px 0;}
.advatages{display: flex; justify-content: space-between; margin-top: 30px; position: relative;}
.advatages__item{position: relative; width: 20%; display: flex; flex-direction: column; align-items: center; text-align: center;}
.advatages__item .title{margin: 15px 0 10px; font-size: 14px; line-height: 17px;}
.advatages__item i{color: #0070b8; font-size: 70px; line-height: 73px;}

#footer{position: relative; background-color: #0070b8; padding: 40px 0; color: #fff; margin-top: 40px;}
#footer a{color: #fff;}
#footer a:hover{color: #f2712d;}
.footer-list{display: flex; justify-content: space-between;}
.footer-list-item{text-align: right; position: relative;}
.footer-list-item .header__shedule + .header__shedule, .mob-link + .mob-link{margin-top: 5px;}
.footer-list-item .mob-link{color: #fff; display: block;}
.footer-list-item .mob-link:hover{color: #f2712d;}
.footer-list-item_contacts{padding-left: 20px;}
.footer-list-item_contacts .mob-link:before{content: '\f879'; font-family: "Font Awesome 5 Free"; font-weight: bold; color: #ffffff; position: absolute; margin-left: -20px;}
.footer-list-item_contacts .mob-link.mob-link_mail:before{content: '\f0e0';}
.footer-list-item_links{display: flex; justify-content: space-between; flex-wrap: wrap; width: 50%; text-align: center;}
.footer-list-item-link{width: 47%; display: block; margin-bottom: 8px;}
.footer__logo{display: block; position: relative; max-width: 250px; max-height: 200px; margin: 0 auto;}
.footer__logo img{width: 100%; height: 100%; object-fit: contain;}
.footer__developer{text-align: center; padding-top: 30px; font-size: 16px; line-height: 19px; color: #fff; }
.footer__developer i{font-family: "Font Awesome 5 Free"; font-weight: bold; display: inline-block; margin-right: 5px; color: #fff;}


.owl-carousel{position:relative;}
.owl-stage-outer{position:relative; overflow:hidden;}
.owl-stage{position:relative; overflow:hidden;}
.owl-item{position:relative; overflow:hidden; float:left;}
.no-js .owl-carousel, .owl-carousel.owl-loaded {display: block;}
.owl-carousel{ display: none; width: 100%; z-index: 1; box-sizing:border-box;}
.owl-prev, .owl-next{ cursor: pointer; transition: 0.2s ease; font-weight: bold; z-index: 5; color: #d8d8d8; font-size: 45px; line-height: 48px; position: absolute; top: 35%; left: 0;}
.owl-next{right: 0; left: auto;}
.owl-prev:hover, .owl-next:hover{color: #c1bfbf;}
.owl-prev:before{content: '\f053'; font-family: "Font Awesome 5 Free"; display: inline-block;}
.owl-next:before{content: '\f054'; font-family: "Font Awesome 5 Free"; display: inline-block;}

.banner .owl-next{right: 20px;}
.banner .owl-prev{left: 20px;}
.banner .owl-prev, .banner .owl-next{top: 50%; margin-top: -24px;}

/*Каталог */
.catalog-page{position: relative;}


/*Контакты*/
.contacts{position: relative; }
.contacts__item{position: relative; display: flex; justify-content: space-between; margin-top: 30px; flex-wrap: wrap;}
.contacts__map{width: 47%; height: 300px; position: relative; overflow: hidden;}
.contacts__map img{width: 100%; height: 100%; object-fit: cover;}
.contacts__item-img{width: 47%; height: 230px; position: relative; overflow: hidden;}
.contacts__item-img img{width: 100%; height: 100%; object-fit: contain;}
.contacts__image{width: 47%; position: relative; overflow: hidden; height: 100%;}
.contacts__image img{width: 100%; height: 100%; object-fit: cover;}
.contacts__text{width: 49%; position: relative;}
.contacts__text .mob-link:before{content: '\f879'; font-family: "Font Awesome 5 Free"; font-weight: bold; color: #0070b8; display: inline-block; margin-right: 5px;}
.contacts__text .mob-link.mob-link_mail:before{content: '\f0e0';}
.contacts__text-item + .contacts__text-item{margin-top: 15px;}
.contacts__adress{margin-bottom: 13px;}
.contacts__text .header__shedule{margin-top: 8px;}
.contacts__text .cover-mob-link + .cover-mob-link{margin-top: 8px;}
.contacts__text-item .header__shedule_right{padding-left: 23px;}
.contacts__town{text-transform: uppercase; font-weight: bold; font-size: 16px;}
.contacts__offices{margin-top: 15px;}
.contacts__offices + .contacts__offices{margin-top: 40px;}
.contact-banner{position: relative; margin: 20px 0; height: 350px; overflow: hidden;}
.contact-banner img{width: 100%; height: 100%; object-fit: cover;}
.contacts__item-image{width: 100%; margin-top: 20px; height: 300px;}


/*Стать нашим дилером*/
.dealer-page{position: relative;}
.dealer-text-item{margin-top: 20px;}
.dealer-text-item .title{margin-bottom: 15px;}
.dealer-list-item:before{content: '\f058'; font-family: "Font Awesome 5 Free"; font-weight: bold; display: inline-block; margin-right: 10px; color: #0070b8;}
.dealer-list-item{font-size: 16px;}
.dealer-list-item + .dealer-list-item{margin-top: 10px;}

.form_dealer .form-double{margin-bottom: 10px;}
.form-double .input{width: 49%; margin-bottom: 0;}

/*Сертификаты*/
.sertificates-page{position: relative; }
.sertificates__text{margin: 10px 0; font-size: 16px;}
.sertificates{display: flex; position: relative; flex-wrap: wrap; margin-top: 15px;}
.sertificates__item{width: 25%; margin-bottom: 15px; box-sizing: border-box; padding-right: 1%; height: 350px; display: flex; justify-content: center; align-items: center; position: relative; overflow: hidden;}
.sertificates__item img{max-width: 100%; max-height: 100%; object-fit: contain; box-sizing: border-box; padding: 10px; border-radius: 4px; border: 1px solid #d8d8d8;}

/*Партнеры*/
.partners-page{position: relative;}
.partners{display: flex; justify-content: center; margin-top: 30px; flex-wrap: wrap;}
.partners__item{transition: 0.2s ease; width: 25%; height: 110px; margin: 0 20px 20px; border: 1px solid #d8d8d8; border-radius: 4px; padding: 10px; box-sizing: border-box;}
.partners__item:hover{transform: scale(1.05);}
.partners__item a{width: 100%; height: 100%; display: block;}
.partners__item a img{width: 100%; height: 100%; object-fit: contain;}

/*Доставка*/
.delivery-page{position: relative; }
.delivery{display: flex; justify-content: space-between; position: relative; padding: 30px 0;}
.delivery-image{width: 47%; height: 400px;}
.delivery-image img{width: 100%; height: 100%; object-fit: cover;}
.delivery-text{width: 50%; position: relative;}
.delivery-text-detail{margin-bottom: 10px;}
.delivery-describe{margin: 40px 0;}
.delivery-describe .title{margin-bottom: 20px;}
.price-table{width: 100%; margin: 20px 0; text-align: center;}
.price-table-cell{border: 1px solid #d8d8d8; padding: 8px; box-sizing: border-box; vertical-align: middle;}
.delivery-text-end{font-weight: bold; text-align: center;}

/*Способы оплаты */

.payment-page{position: relative; }
.payment-text{margin: 20px 0;}
.payment{display: flex; justify-content: center; position: relative;}
.payment-item{transition: 0.2s ease; margin: 10px 20px; width: 33%; position: relative; text-align: center; box-sizing: border-box; padding: 30px; border-radius: 4px; border: 1px solid #d8d8d8;}
.payment-item:hover{transform: scale(1.05);}
.payment-item i{color: #0070b8; font-size: 90px; line-height: 93px;}
.payment-text{ font-size: 16px;}
.payment-item-text{margin-top: 15px;}

/*Для застройщиков*/
.developers{position: relative;}
.developers__images-block{display: flex; position: relative; justify-content: space-between;}
.developers__image{width: 49%; position: relative; height: 300px;}
.developers__image img{width: 100%; height: 100%; object-fit: cover; }
.developers__text{margin: 15px 0;}

/*Новости*/
.news{position: relative; display: flex; margin-top: 20px; flex-wrap: wrap;}
.news__item{box-sizing: border-box; position: relative; width: 32%; border: 1px solid #d8d8d8; border-radius: 4px; padding: 25px; margin-right: 10px; margin-bottom: 10px;}
.news-image{transition: 0.2s ease; display: block; width: 100%; height: 200px; position: relative; margin-bottom: 25px;}
.news-image:hover{transform: scale(1.05);}
.news-image img{width: 100%; height: 100%; object-fit: cover;}
.news-describe{margin-top: 15px;}
.news-text .title{font-size: 18px;}


@media (max-width: 1200px){
    .menu{flex-wrap: wrap; justify-content: center;}
    .menu-item{min-width: 160px;}
    .header__info-item_logo{flex-direction: column; align-items: flex-end;}
    .header__center-text{margin-top: 10px; margin-left: 0;}
    .catalog__slide-image{height: 250px;}
    .banner-img{margin-top: 0;}
}

@media (max-width: 1090px){
    .sertificates__item{width: 33%;}
}
@media (max-width: 980px){
    .banner-img{margin-top: -170px; top: 50%;}
    .news{justify-content: space-between;}
    .news__item{width: 49%; margin: 0 0 10px;}
}

@media (max-width: 830px){
    .header__logo{max-width: 220px;}
    .advatages, .partners{flex-wrap: wrap; justify-content: center;}
    .advatages__item, .partners__item{min-width: 200px; margin-bottom: 10px;}
    .header__info-item_logo{align-items: center;}
    .header__info-item .mob-link{font-size: 14px; line-height: 17px;}
    .footer-list{flex-wrap: wrap;}
    .footer-list-item{width: 100%; margin: 0 0 10px; text-align: center; align-items: center;}
    .footer-list-item_contacts{padding-left: 0;}
}

@media (max-width: 768px){
    .menu{flex-direction: column; display: none;}
    .menu.is-active{display: flex;}
    .menu-item{min-width: unset; width: 100%;}
    .menu-hidden-list{position: relative; height: auto; margin-top: 10px;}
    .menu-hidden-list-item{border: none; text-align: center; padding: 5px;}
    .header__burger{display: flex;}

    .header__info{flex-direction: column; align-items: center;}
    .header__info-item_contacts{text-align: center;}
    .header__info-item_shedule{margin: 15px 0;}

    .catalog__slide{width: 48%;}
    .sertificates__item{width: 50%;}

    .delivery{flex-direction: column; padding-bottom: 0;}
    .delivery-image{width: 100%; margin-bottom: 30px; height: 250px;}
    .delivery-text{width: 100%;}

    .payment{flex-direction: column;}
    .payment-item{width: 100%; margin: 0 0 10px;}

    .banner-image{width: 50px; height: 50px; margin-right: 30px;}
    .banner-text{font-size: 20px; line-height: 23px; width: 250px;}
    .banner__slide{height: 200px;}
}

@media (max-width: 600px){
    .video{flex-direction: column;}
    .video-item{width: 100%; height: 300px;}
    .video-item + .video-item{margin-top: 20px;}
    .contacts__item{flex-direction: column; border-bottom: 1px solid #d8d8d8; padding-bottom: 10px;}
    .contacts__map{height: 200px; width: 100%; order: 1; margin-top: 10px;}
    .contacts__item-img{height: 200px; width: 100%;}
    .contacts__text{width: 100%; margin-top: 10px; text-align: center;}
    .banner-img{margin-top: -100px;}
    .developers__images-block{flex-direction: column;}
    .developers__image{width: 100%; margin-bottom: 10px; height: 200px;}
    .form.form_dealer{margin: 20px auto 0;}
    .news__item{width: 100%; padding: 15px;}
}

@media (max-width: 520px){
    .header__info{flex-direction: column; align-items: center;}
    .header__info-item_contacts{text-align: center;}
    .advatages__item i{font-size: 50px; line-height: 53px;}
    .partners__item{min-width: 100px;}
    .catalog__slide-image{height: 170px;}
    .catalog__slide{width: 100%; margin-right: 0;}
    .main-advatages, .main-catalog, .main-video{margin: 30px 0;}
    .footer__developer{padding-top: 10px;}
    .main__about{padding: 20px 0;}
    .sertificates__item{width: 100%; height: 300px;}
    .price-table-cell{padding: 2px; font-size: 11px; }
    .payment-item i{font-size: 80px; line-height: 83px;}
    .payment-item{padding: 15px;}
    .banner__content{flex-direction: column; justify-content: center; align-items: flex-end; padding-right: 45px; height: auto; padding-top: 20px;}
    .banner__slide{height: 150px; background: linear-gradient(to right, transparent 0,  #fff 100%);}
    .banner-img{margin-top: 0; top: 0;}
    .dealer-list-item{font-size: 14px;}
}

@media (max-width: 425px){
    .banner-text{font-size: 16px;}
    .banner-text{width: 200px;}
    .form_dealer .form-double{flex-direction: column; margin-bottom: 0;}
    .form-double .input{width: 100%; margin-bottom: 10px;}
    .dealer__form .textarea{margin-top: 0;}
}



